body {
    background-color: rgb(211, 125, 211);
    font-size: 2rem;
    font-family: 'Rowdies', cursive;
}

.img {
    width: 100px;
}

.container {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 1.25rem;
}